# Set up external mouse
xinput --set-prop 12 'Device Accel Constant Deceleration' 3 &
xset mouse 3 6 &

# Start the device auto-mounter with notifications
devmon --exec-on-drive "notify-send \"Volume %l has been mounted\"" --exec-on-unmount "notify-send \"Volume %l can be safely removed\"" &

# Pretty notifications
dunst &

# Check state of HDMI
/home/jim/bin/hdmi
